* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: white;
        font-family: 'Raleway', sans-serif;
  /* background-image: linear-gradient(blue, red, white);
  background-size: 500% 500%;
  background-position:1000px; */
}

.head {
  height: 70px;
  position: relative;
  background: none;
  backdrop-filter: blur(1px);
}

.head img {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate(-50%, -20px)scale(.8);
  height: 80%;
}

.loader {
  background: black;
  position: absolute;
  height: 100vh;
  width: 100%;
  color: white;
  z-index: 9999;
        font-family: 'Raleway', sans-serif;


}

.menu {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 3;
  height: 32px;
  width: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  animation: jello-horizontal 0.9s linear both;
  border: 1px solid #ff00df;
  border-radius: 2px;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.menu.active {
  background: #ff00b7;
}

.ham.active {
  background: white;
}

.ham {
  width: 80%;
  height: 3px;
  background: #ff00df;
  margin: 3px 6px;
}

.loader h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  letter-spacing: 0px;
  transform: translate(-50%, -50%);
  animation: textanim 4s ease-in forwards;
}

.dot {
  position: absolute;
  left: 50px;
  bottom: 50px;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  animation: dotanim 1s ease forwards;
}

.helloworld:before {
  content: '<';
  color: #FF00B7;
}

.helloworld:after {
  content: '/>';
  color: #ff00b7;
}

@keyframes textanim {
  from {
    letter-spacing: 0px;
  }

  to {
    letter-spacing: 10px;
    opacity: 0.4;
  }
}

@keyframes dotanim {

  10% {
    transform: scale(.2);
  }

  20% {
    transform: scale(.6);
  }

  30% {
    transform: scale(.2);
  }

  40% {
    transform: scale(.6);
  }

  50% {
    transform: scale(.2);
  }

  60% {
    transform: scale(.6);
  }

  70% {
    transform: scale(.2);
  }

  80% {
    transform: scale(.6);
  }

  90% {
    transform: scale(.2);
  }

  100% {
    transform: scale(99);
  }
}

.links {
  height: 0;
  width: 0;
  transform: scale(0);
}

.links.open {
  position: absolute;
  top: 50px;
  background: none;
  backdrop-filter: blur(5px);
  height: 600px;
  width: 50px;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: scale(1);
  border-right: 1px solid #ff00df;
  border-bottom: 1px solid #ff00df;
  transition: height .3s ease-in;


}

.hero {
  opacity: .8;
  color: #3E3F4B;
  display: flex;
  text-align: left;
  flex-direction: column;
  height: 50vh;
  width: 100%;
  position: relative;
  top: 20%;
  left: 20%;
  justify-content: space-evenly;
  position: absolute;
  z-index: 3;
}
h1:first-letter {
  color: #ff00df;
}

h4:first-letter {
  color: #ff00df;
}

h3:first-letter {
  color: #ff00df;
}

.wave {
  background-image: url('img/Wave-10s-2811px.svg');
  height: 800px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(180deg);
  background-repeat: no-repeat;
  background-size: 200%;
  z-index: 2;
}

.codepen:hover {
  stroke: black;
}

.telegram:hover {
  stroke: #7981D9;
}

.twitter:hover {
  stroke: #1DA1F2;
}

.github:hover {
  stroke: #3A3A42;
}

.mail:hover {
  stroke: #D86363;
}

.chat:hover {
  stroke: #40A735;
}

.call:hover {
  stroke: #429039;
}

.insta:hover {
  stroke: #951C5D;
}
@media only screen and (min-width: 1200px){
  .hero{
    font-size: 250%;
  }
}